.page {
  --background: #fafafa;
  --foreground: #fff;

  --text-primary: #000;
  --text-secondary: #666;

  --button-primary-hover: #383838;
  --button-secondary-hover: #f2f2f2;
  --button-secondary-border: #ebebeb;

  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: center;

  height: 100vh;

  font-family: var(--font-lexend);
  background-color: var(--background);
}

.brandName {
  font-size: 150px;
  font-weight: 100px;

  animation: bigToSmallSiteTitle 1s ease-in;
}

.tapToContinueImage {
  position: fixed;
  bottom: 0;
}

.tapToContinueImage:hover {
  opacity: 50%;
}

.formContainer {
    gap: 10px;
    margin: 10px;

    background-color: rgb(36, 36, 36);
    padding: 10px;

    border-radius: 20px;
    border: 2px solid white;
}

.textField {
    border: 2px solid rgb(10, 181, 204);
    margin: 5px;

    border-radius: 20px;
    height: 20px;
    padding: 5px;
    align-items: center;
}

.textFieldXL {
    border: 2px solid rgb(10, 181, 204);
    margin: 5px;
    border-radius: 20px;
    width: 90%;
    height: 60px;

    padding: 3px;
}

.submitButton {
    background-color: black;
    color: white;
    font-weight: bold;

    border-radius: 20px;
    width: 100px;

    border: 2px solid rgb(10, 181, 204);
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 10px;

    padding: 10px;
}

.submitButton:hover {
    background-color: grey;
    transition: background-color 0.2s ease-in-out;
}

.errorMessage {
    color: red;
    margin: 20px;
}

@keyframes bigToSmallSiteTitle {
  0% {
    font-size: 1000px;
  }

  100% {
    font-size: 150px;
  }
}

@media (max-width: 600px) {
  .main {
    padding: 48px 24px;
  }

  .intro {
    gap: 16px;
  }

  .intro h1 {
    font-size: 32px;
    line-height: 40px;
    letter-spacing: -1.92px;
  }
}

@media (prefers-color-scheme: dark) {
  .logo {
    filter: invert();
  }

  .page {
    --background: #000;
    --foreground: #000;

    --text-primary: #ededed;
    --text-secondary: #999;

    --button-primary-hover: #ccc;
    --button-secondary-hover: #1a1a1a;
    --button-secondary-border: #1a1a1a;
  }
}
